<!doctype html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">

  {% for item in head %}<{{ item.tag }}{% for key, value in item.attrs.items() %} {{ key }}="{{ value }}"{% endfor %}>
  {% endfor %}

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <header><h1>{{ site_title }}</h1></header>

  <nav>
    <ul>
      {% for n in nav %}
      <li><a{% for key, value in n.attrs.items() %} {{ key }}="{{ value }}"{% endfor %}>{{ n.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <main>
  {% block main %}
  {% endblock main %}
  </main>

  <footer>
    <a rel="license"
      href="http://creativecommons.org/licenses/by/4.0/">CC-BY 4.0
    </a>
  </footer>

</body>

</html>
