<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ title }}</title>
  <subtile>{{ description }}</subtile>
  <link href="{{ url }}" rel="self" />
  <link href="{{ netloc }}" />
  <updated>{{ date }}</updated>

</feed>
