{% extends "base.html.j2" %}

{% block main %}
<article>
  {{ content_path | read_text }}
</article>

{% for article in articles.by_date %}
<article>
  <header>
    <h1><a href={{ article.path }}>{{ article.title }}</a></h1>
    <time datetime="{{ article.date }}">{{ article.date }}</time>
  </header>
  <p>{{ article.description }}</p>
</article>
{% endfor %}
{% endblock main %}
