{% extends "base.html.j2" %}

{% block content %}
{{ super() }}

{% for article in articles.by_date %}
<article>
  <a href={{ article.path }}>
    <header>
        <h1>
            <time datetime="{{ article.date }}">{{ article.date }}</time> {{ article.title }}
        </h1>
    </header>
  </a>
  <p>{{ article.description }}</p>
</article>
{% endfor %}
{% endblock content %}
