@import 'palette';

$font-stack: sans-serif;

html {
    background-color: $background-color;
    font-family: $font-stack;
    color: $primary-color-text;
}

body {
    header {
        img {
            height: 100%;
            width: auto;
        }
    }
    nav {
        h1 {
            display: none;
        }
    }
    main {
        li {
            article {
                section {
                    h1 {
                        display: none;
                    }
                }
            }
        }
    }
}

img {
    width: 100%;
}
