@import 'palette';

$font-stack: sans-serif;

html {
    background-color: $background-color;
    font-family: $font-stack;
    color: $primary-color-text;
}

body {
    header {
        img {
            height: 100%;
            width: auto;
        }
    }
}

img {
    width: 100%;
}
