@import 'palette';

$font-stack: sans-serif;
$nav-icon-size: 1.5rem;
$gutter-size: 2.5vw;

@mixin maxwidth() {
    max-width: 50rem;
}

@mixin gutter() {
    padding-left: $gutter-size;
    padding-right: $gutter-size;
}

@mixin hgutter() {
    padding-top: $gutter-size;
    padding-bottom: $gutter-size;
}

html {
    background-color: $background-color;
    font-family: $font-stack;
    color: $primary-color-text;
}

img {
    width: 100%;
}

i {
    color: $primary-color;
}

article {
    h1, h2, h3, h4, h5, h6 {
        color: $secondary-text-color;
    }
}

body {
    >header {
        @include gutter();

        height: 2rem;
        display: flex;
        background-color: $secondary-text-color;

        h1 {
            flex: 1;
            margin: auto;
            overflow: hidden;
            white-space: nowrap;
            font-size: 1rem;

            >a {
                color: $primary-color;
                text-decoration: none;
                margin: 0px;
            }
        }

        img {
            height: $nav-icon-size;
            width: auto;
        }

        li {
            display: inline-block;
        }
    }
    nav {
        min-size: auto;
        font-size: $nav-icon-size;
        height: $nav-icon-size;

        ul {
            margin: 0;
            padding: 0;
        }

        h1 {
            display: none;
        }
    }
    main {
        >ol {
            li {
                article {
                    section {
                        h1 {
                            display: none;
                        }
                    }
                }
            }
        }
        >article {
            header {
                @include gutter();
                @include hgutter();
                @include maxwidth();

                h1 {
                    margin: 0;
                    font-size: 7vh;
                    color: $primary-color-text;
                }

                p {
                    margin: 0;
                }
            }
            section {
                /* The first image */
                >:first-child {
                    margin-top: 0;
                }

                /* Not the first image */
                >:not(:first-child) {
                    @include gutter();
                    @include maxwidth();
                }
            }
        }
    }
}
