build_dir = {{ build_dir }}
dist_dir = {{ dist_dir }}
dist_path = {{ dist_path }}

article_data_path = {{ article_data_path }}
global_data_path = {{ global_data_path }}
data_from_path = {{ data_from_path }}
data_from_md = {{ build_dir }}/data_from_md.json
content = {{ build_dir }}/content.html

include {{ step2_subninja_path }}

build $content $data_from_md {{ step2_subninja_path }}: md2meta {{ md_path }}


