bin_path = {{ bin_path }}

default_template = {{ default_template }}

rule md2meta
    command = python $bin_path/md2meta.py $in $out

rule ln
    command = mkdir -p `dirname $out` && ln $in $out

rule combine_data
    command = python $bin_path/combine_data.py $in > $out

rule jinja
    command = mkdir -p `dirname $out` && jinjanate --filters {{ theme_dir }}/python/filters.py {{ theme_dir }}/templates/$template $in > $out

{% for path in subninja_paths %}subninja {{ path }}
{% endfor %}

