bin_path = {{ bin_path }}

all_articles_data_path = {{ all_articles_data_path }}

rule ln
    command = python $bin_path/ln_or_cp.py $in $out

rule combine_all_articles_data
    command = python $bin_path/combine_all_articles_data.py {{ global_data_path }} $out $in

rule render_html
    command = python $bin_path/render_html.py $slug $in $out

rule convert_img
    command = convert $in -quality 60 -geometry $geometry $out

build $all_articles_data_path: combine_all_articles_data {{ article_data_paths | join(" ") }}

{% for path in subninja_paths %}subninja {{ path }}
{% endfor %}

