bin_path = {{ bin_path }}

default_template = {{ default_template }}

rule md2meta
    command = python $bin_path/md2meta.py $in $out

rule ln
    command = mkdir -p `dirname $out` && ln $in $out

rule combine_article_data
    command = python $bin_path/combine_article_data.py $in > $out

rule combine_all_articles_data
    command = python $bin_path/combine_all_articles_data.py $in > $out

rule render_html
    command = mkdir -p `dirname $out` && python $bin_path/render_html.py $template $in $out

include {{ main_step2_subninja_path }}

{# build {{ all_articles_data_path }}: combine_all_articles_data {{ article_data_paths | join(" ") }} #}

{% for path in subninja_paths %}subninja {{ path }}
{% endfor %}

