{% extends "base.html" %}

{% block lang %}
<html lang="{{ page.lang }}">
{% endblock %}

{% block canonical %}
{# HACK page.Save_as #}
<link rel="canonical" href="{{ SITEURL }}/{{ page.save_as }}">
{% endblock %}

{% block title %}
{{ page.title|striptags }} - {{ SITENAME }}
{% endblock %}

{% block content %}
<main>
        <div class="icon-links">
          {% for title, link in MENUITEMS %}
          <a href="{{ link }}">{{ title }}</a>
          {% endfor %}

          {% if DISPLAY_PAGES_ON_MENU -%}
          {% for pg in pages %}
          <a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a>
          {% endfor %}
          {% endif %}

          {% for name, link, icon in SOCIAL %}
          <a href="{{ link }}" rel="external"><i class="{{ icon }}"></i></a>
          {% endfor %}

          {% for name, link, icon in LINKS %}
          <a href="{{ link }}" rel="external"><i class="{{ icon }}"></i></a>
          {% endfor %}
        </div>

        <header>
            {% if page.headerimage %}
            {# Markdown surround the img with p markups #}
            {{ article.headerimage | replace('<p>', '') | replace('</p>', '') }}
            {% endif %}
        </header>

        {{ page.content }}

        {% if articles %}
                {% for article in articles %}
                    <article>
                        {% include 'article_date.html' %}
                        <h2>
                            <a href="{{ SITEURL }}/{{ article.url }}"
                               rel="bookmark"
                               title="Permalink to {{ article.title|striptags }}">
                               {{ article.title }}
                            </a>
                        </h2>

                        {% if article.abstract %}
                        <p>{{ article.abstract }}</p>
                        {% else %}
                        {{ article.summary }}
                        {% endif %}
                    </article>
                {% endfor %}
        {% endif %}
</main>
{% endblock %}
