{% extends "base.html" %}

{% block opengraph %}
<meta property="og:title" content="{{ SITENAME }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ SITEURL }}/" />
<meta property="og:description" content="{{ DESCRIPTION }}" />
<meta property="og:image" content="{{ SITEURL }}/icon.png" />
{# HACK, should come from config #}
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="fr_FR" />
{% endblock %}

{% block content %}
{% if articles %}
<main>
    <ol>
        {% for article in articles_page.object_list %}
        <li>
            <article>
                <header>
                    <h1>
                        <a href="{{ SITEURL }}/{{ article.url }}"
                           rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">
                           {{ article.title }}
                        </a>
                    </h1>
                    {% include 'article_infos.html' %}
                </header>

                <section>
                    <h1>Summary</h1>
                    {% if article.abstract %}
                    <p>{{ article.abstract }}</p>
                    {% else %}
                    {{ article.summary }}
                    {% endif%}
                </section>
            </article>
        </li>
        {% endfor %}
    </ol>
</main>
{% endif %}
{% endblock content %}
