{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
<main>
    <ol>
        {% for article in articles_page.object_list %}
        <li>
            <article>
                <header>
                    <h1>
                        <a href="{{ SITEURL }}/{{ article.url }}"
                           rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">
                           {{ article.title }}
                        </a>
                    </h1>
                    {% include 'article_infos.html' %}
                </header>

                {{ article.summary }}

                <footer>
                    <a href="{{ SITEURL }}/{{ article.url }}">More</a>
                    {% include 'comments.html' %}
                </footer>
            </article>
        </li>
        {% endfor %}
    </ol>
</main>
{% endif %}
{% endblock content %}
