/* Dracula theme */
:root {
  --background: #282A36;
  --foreground: #F8F8F2;
  --selection: #44475A;
  --comment: #6272A4;
  --red: #FF5555;
  --orange: #FFB86C;
  --yellow: #F1FA8C;
  --green: #50FA7B;
  --purple: #BD93F9;
  --cyan: #8BE9FD;
  --pink: #FF79C6;

  --accent: var(--orange);

  --gap: 1rem;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  font-family: monospace;
  text-align: justify;
}

body {
  margin: auto;
  padding: var(--gap);
  max-width: 48rem;
}

body header h1 {
  margin-bottom: 0px;
  margin-top: 0px;
}

nav {
  padding-bottom: 1rem;
}

a {
  color: var(--accent);
}

nav ul {
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

nav ul li {
  list-style-type: none;
}

article header h1 {
  color: var(--accent);
}

header time {
  color: var(--comment);
}

footer {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--gap);
}

footer a {
  color: var(--comment);
}

pre {
  padding: var(--gap);
  background-color: var(--selection);
}
